.budget-details-container h1{
    text-align: center;
    margin-bottom: 15px;
    color: #4b0090;
}
/* .budget-details-container{
    max-height: 30vh;
} */

.budget-details-container table{
    border: 2px solid #353131;
    border-radius: 3px;
    width: 100%;
    margin: 0 20px;
    max-height: 20vh;
    min-height: 20vh;
}

.table-header{
    background-color: #4b0090;
    color: white;
    height: 5vh;
    text-align: center;
}

.data-row{
    text-align: center;
    height: 1vh;
    background-color: rgb(219, 219, 219);
}
