.center_page{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 12%;
}

.container{
    background-color: indigo;
    height: 40rem;
    width: 30rem;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    line-height: 35px;
}
.container form{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.container h3{
    justify-content: center;
    align-items: center;
    display: flex;
    color: yellow;
}

.container form input{
    background-color: white;
    width: 14vw;
    height: 4vh;
}
.container form button{
    /* display: flex; */
    width: 5vw;
    height: 4.5vh;
    border-radius: 5px;
    outline: none;
    background-color: yellow;
    color: indigo;
    font-size: larger;
    cursor: pointer;
    margin-left: 9px

}