.profile-card{
    background-color: #444444;
    height: 50vh;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.details-container{
    background-color:  black;
    border-radius: 2px;
    height: 50vh;
    width: 80%;
    padding: 10px;
}

.profile-card-avatar{
    height: 30px;

}

.firstname-details{
    width: 80%;
    padding: 5%;
    background-color: rgb(29, 29, 29);
    border-radius: 2px;
}

.firstname-details p,
h1{margin: 0;}

.firstname-details p{
    font-size: 15px;
    color: #cecece;
}

.firstname-details h1{
    font-size: 30px;
    color: #ffffff;
}

.hobby-details{
    background-color: white;
    width: 90%;
    padding: 2%;
    border-radius: 2px;
    margin-top: 1em;
}

.hobby-details p,
h1{
    margin: 0;

}

.hobby-details p{
    font-size: 15px;
    color: #1a1919; 
}

.hobby-details h1{
    font-size: 30px;
    color: #000000;
}

.profile-card button{
    padding:  10px 20px;
    font-size: 14px;
    font-weight: bold;
}
