.auth-container{
    background-color: #4b0090;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-body{
    background-color: white;
    border-radius: 4px;
    height: 70%;
    width: 28%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    /* line-height: 38px; */
    /* justify-content: center; */
    /* align-items: center; */
}

.auth-body button{
    height: 40px;
    width: 90px;
    border: 1px solid indigo;
    padding: 1%;
    font-weight: bold;
    color: indigo;
    font-size: 12px;
}

.auth-register{
    display: flex;
    flex-direction: column;
    /* padding: 5%; */
}

.auth-register input{
    height: 30px;
    margin-top: 0.3rem;
    font-size: 14px;
}

.auth-register button{
    margin-top: 3rem;
    background-color: indigo;
    color: white;
    height: 50px;
    border: unset;
    border-radius: 2px;
}

.auth-register label{
    font-size: 13px;
    font-weight: bold;
    color: indigo;
    margin-top: 10px;
}

.alert{
    color: white;
    font-size: 14px;
    width: 50%;
    padding: 1%;
    border-radius: 2%;
    text-align: center;
}